.vission {
  color: #4d4d4f;
  img {
    margin: 30px;
  }
  h5 {
    margin: 10px 0;
    margin-left: 10px;
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
    li {
      margin-bottom: 5px;
    }
  }
}
