.SupplyChain {
    float: left;
    width: 100%;
    img{
        padding: 0;
        margin: 10px;
       
        min-height: 300px;
        max-width: 100%;
    }
    ul {
      margin: 0;
      margin-top: 10px;
      li {
        margin-bottom: 10px;
      }
    }
  }
  