.Snavbar {
  ul {
    margin: 0;
    padding: 10px;
    .certi {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: none;
      margin-top: 5px;
      img {
        width: 30px;
        height: auto;
        margin: 5px 0;
      }
      margin-bottom: 0px;
    }
    li {
      color: rgb(69, 69, 71);
      margin: 15px 0;
      font-size: 12;
      content: "\2023";
      display: list-item;
      font-family: Arial, Helvetica, sans-serif;
      list-style: none;
      text-align: -webkit-match-parent;
      border-bottom: 1px solid #e8e8e8;
      margin-bottom: 3px;
      &:hover {
        color: blue;
      }
      ul {
        padding: 0 10px;
        li {
          border-bottom: 1px solid white;
          margin-top: 1px;
        }
        border-bottom: 1px solid #e8e8e8;
      }
    }
    .link:hover {
      color: rgb(110, 110, 223);
    }

    li::marker {
      content: "▶";
    }
  }
}
